<h2>Ejemplos</h2>
<nav>
    <a routerLink="/ej0">Ejemplo0</a>
    <a routerLink="/ej1">Ejemplo1</a>
    <a routerLink="/ej2">Ejemplo2</a>
    <a routerLink="/ej3">Ejemplo3</a>
    <a routerLink="/ej3b">Ejemplo3b</a>
    <a routerLink="/ej4">Ejemplo4</a>
    <a routerLink="/ej4b">Ejemplo4b</a>
    <a routerLink="/ej5">Ejemplo5</a>
    <a routerLink="/ej6">Ejemplo6</a>
    <a routerLink="/ej7">Ejemplo7</a>
    <a routerLink="/ej8">Ejemplo8</a>
    <a routerLink="/ej9">Ejemplo9</a>
    <a routerLink="/ej10">Ejemplo10</a>
    <a routerLink="/ej11">Ejemplo11</a>
    <a routerLink="/ej12p">Ejemplo12Padre</a>
    <a routerLink="/ej13p">Ejemplo13Padre</a>
    <a routerLink="/ej14">Ejemplo14</a>
    <a routerLink="/ej14b">Ejemplo14b</a>
    <a routerLink="/ej15">Ejemplo15</a>
    <a routerLink="/ej16">Ejemplo16</a>
    <a routerLink="/ej17">Ejemplo17</a>
    <a routerLink="/ej18">Ejemplo18</a>
</nav>

<h2>Ejercicios</h2>
<nav>
    <a routerLink="/ejercicio01">Ejercicio01</a>
    <a routerLink="/ejercicio02">Ejercicio02</a>
</nav>
