<nav>
    <a routerLink="/ej0">Ejemplo0</a>
    <a routerLink="/ej1">Ejemplo1</a>
    <a routerLink="/ej2">Ejemplo2</a>
    <a routerLink="/ej3">Ejemplo3</a>
    <a routerLink="/ej3b">Ejemplo3b</a>
    <a routerLink="/ej4">Ejemplo4</a>
    <a routerLink="/ej4b">Ejemplo4b</a>
    <a routerLink="/ej5">Ejemplo5</a>
    <a routerLink="/ej6">Ejemplo6</a>
    <a routerLink="/ej7">Ejemplo7</a>
    <a routerLink="/ej8">Ejemplo8</a>
    <a routerLink="/ej9">Ejemplo9</a>
    <a routerLink="/ej10">Ejemplo10</a>
</nav>